/***estrutura do site***/
* {
	margin: 0;
	padding: 0;
}

/*formatando o corpo do site*/
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(../imagens/fundo.png) repeat-x;
}

/*formatando a -div- principal*/
#container {
	width: 750px;
	margin: 0 auto;
	/*border: 1px solid red; */
}

/*formatando a estrutura onde ficará a logo e a barra de navegaçao do topo*/
#topo {
	height: 150px;
	background: url(../imagens/detalhe-topo.png) no-repeat right top;
	padding-top: 25px; 
	/*border: 1px solid red; */
}
.logo {
	width: 152px;
	height: 66px;
	background: url(../imagens/logo.png) no-repeat center;
	text-indent: -3000px;/*enpurra o texto para esquerda, caso o css nao carreguei o texto será exibido*/
}

/*formatando barra de navegaçao*/
ul {
	margin: 0;
	padding: 0;
	list-style: none;	
}

#topo ul {
	margin-top: 30px;
	background: #b10333;
	float: left;
}

/*formatando os -li- que estao dentro de -ul- e -topo-*/
#topo ul li {
	float: left;
}

/*formatando os links*/
#topo ul a {
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: #fff;
	background: url(../imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
	background: none;
}

/*formatando o estado hover (quando o mouse estiver sobre o link)*/
#topo ul a:hover {
	color: #69001d;
}

/*marca o link como selecionado na barra de navegaçao do topo*/
body.home #navegacao a#home, 
body.brasil #navegacao a#brasil, 
body.internacional #navegacao a#internacional, 
body.economia #navegacao a#economia, 
body.saude #navegacao a#saude, 
body.ciencia #navegacao a#ciencia, 
body.fotos #navegacao a#fotos {
	color: #fff;
	background: #de003e;
	cursor: text;
}

/*configurando o layout de tres colunas*/
#conteudo {
	margin-top: 60px;
	background: #f5f5f5;
}

/*configurando o conteudo inicial*/
#primario {
	width: 270px;
	float: left;
	margin: 0 0 20px 195px; 
	background: blue;
}

/*configurando o conteudo secundario(lateral direita)*/
#secundario {
	width: 270px;
	float: left;
	margin: 0 0 20px 15px; 
	background: green;
}

/*configurando a barra lateral de entrevistas(lateral esquerda)*/
#lateral {
	width: 180px;
	float: left;
	margin: 0 0 20px -750px; 
	background: yellow;
}

/*formatando rodapé*/
#container-rodape {
	background: #294c71;
	padding: 20px;
}

#rodape {
	width: 750px;
	margin: 0 auto;
	color: #fff;
}