
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul a {
	width: 200px; 
	height: 40px; 
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	display: block;
	background: #f7b600 url(../imagens/menu.png) no-repeat left bottom ;
}

a:hover {
	background-position: right bottom; /*quando o mouse passar sobre a imagem ela ira se mover 200pixels para esquerda*/
	background-color: #f99200;/*exibe essa cor de fundo caso a imagem nao carregue*/
	color: #fff;
}

/*marca pagina de navegacao atual*/
#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#noticias #navegacao .noticias a,
#contato #navegacao  .contato  a {
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;
}